@model Help_N_Grow.Entity.Registration

@{
	ViewData["Title"] = "Registration";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="row">
	<div class="col-md-4">

		<label  class="control-label">Add Existing member enter the mobile Number:</label>
		</div>
		<div class="col-md-4">

			<input asp-for="UserName" class="form-control" />
		</div><div class="col-md-4">

				  <a asp-action="Search" class="btn btn-primary">Search</a>
		</div>
	</div>*@
	<h2>Registration</h2>

	<hr />
	<div class="row">

		<form asp-action="RegistrationCreate">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label asp-for="Full_Name" class="control-label"></label>
					<input asp-for="Full_Name" class="form-control" />
					<span asp-validation-for="Full_Name" class="text-danger"></span>
				</div>
				
				<div class="form-group">
					<label asp-for="Mobile_No" class="control-label"></label>
					<input asp-for="Mobile_No" class="form-control" />
					<span asp-validation-for="Mobile_No" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Bank_AC" class="control-label"></label>
					<input asp-for="Bank_AC" class="form-control" />
					<span asp-validation-for="Bank_AC" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IFSC_Code" class="control-label"></label>
					<input asp-for="IFSC_Code" class="form-control" />
					<span asp-validation-for="IFSC_Code" class="text-danger"></span>
				</div>

			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label asp-for="UPI_ID" class="control-label"></label>
					<input asp-for="UPI_ID" class="form-control" />
					<span asp-validation-for="UPI_ID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="UserName" class="control-label"></label>
					<input asp-for="UserName" class="form-control" />
					Note:-UserName will be used for login
					<span asp-validation-for="UserName" class="text-danger"></span>
					<span class="text-danger">@ViewBag.Usernameexist</span>
				</div>
				<div class="form-group">
					<label asp-for="Password" class="control-label"></label>
					<input asp-for="Password" class="form-control" />
					Note:-Password for login
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Term_Condition_Accepted" class="control-label"></label>
					<input asp-for="Term_Condition_Accepted" class="form-control" />
					<span asp-validation-for="Term_Condition_Accepted" class="text-danger"></span>
					<div>
						१. सहाय्य केंद्राचा मुख्य उद्देश गरजू लोकांना आर्थिक मदत प्रदान करणे हा आहे, आणि यासाठी सहाय्य केंद्र केवळ सेवा शुल्क आकारते. सहाय्य केंद्र हे मदत करणारे आणि प्राप्तकर्ता यांच्यातील दुवा म्हणून कार्य करते, त्याशिवाय इतर कोणतीही गुंतवणूक नाही.
						२. सहाय्य केंद्राच्या कार्यालयातील सर्व व्यवहार QR कोड किंवा बँक हस्तांतरणाद्वारे केले जातील. (फक्त फॉर्म शुल्क १०० रुपये रोख स्वीकारले जाईल.)
						३. दिलेली सर्व मदत आणि सहाय्य केंद्राचे सेवा शुल्क स्वेच्छेने आणि पूर्ण संमतीने दिले जाते. दिलेली मदत परत केली जाणार नाही, आणि मी कोणतीही परतफेड मागणार नाही.
						४. वरील पायऱ्या पूर्णपणे पूर्ण झाल्या नाहीत तर सहाय्य केंद्राकडून अतिरिक्त १०% रक्कम प्राप्त होणार नाही.
						५. मी सहाय्य केंद्राच्या सर्व अटी आणि शर्ती मान्य करतो आणि वरील उल्लेखित व्यक्तीला मदत करण्यास पूर्णपणे इच्छुक आहे.
						६. सहाय्य केंद्राला भेट देताना मूळ फॉर्म आणणे बंधनकारक आहे. स्थिती मंजूर(Approved) झाल्यानंतरच सामील होणे विचारात घेतले जाते.
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Submit" class="btn btn-primary" />
				</div>
			</div>
			<div class="col-md-4">
				<div style="background: lightseagreen; color:white;">
					<b>-----------------Company Bank Details ------------------------- </b>
					Amount:-@ViewBag.CompanyAmount
					<div class="form-group">
						<label style="font-style:italic" class="control-label">Account Name:</label><label class="control-label">State Bank Of India,Belapur</label>
					</div>
					<div class="form-group">
						<label style="font-style:italic" class="control-label">Account No:</label><label class="control-label">43196315462</label>
					</div>
					<div class="form-group">
						<label style="font-style:italic" class="control-label">IFSC Code:</label><label class="control-label">SBIN0040524</label>
					</div><div class="form-group">
						<label style="font-style:italic" class="control-label">UPI Number:</label><label class="control-label">---</label>
					</div>

				</div>
				<div style="background:gray;color:white;">
					<b>-----------------Help Bank Details ------------------------- </b>
					Amount:-@ViewBag.MemberAmount
					<div class="form-group">
						<label style="font-style:italic" class="control-label"> Name:</label><label class="control-label">@ViewBag.Full_Name</label>
					</div>
					<div class="form-group">
						<label style="font-style:italic" class="control-label">Account No:</label><label class="control-label">@ViewBag.Bank_AC</label>
					</div>
					<div class="form-group">
						<label style="font-style:italic" class="control-label">IFSC Code:</label><label class="control-label">@ViewBag.IFSC_Code</label>
					</div><div class="form-group">
						<label style="font-style:italic" class="control-label">UPI Number:</label><label class="control-label">@ViewBag.UPI_ID</label>
					</div>

				</div>
			</div>
</form>
	</div>


	@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}
